* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.form-principal {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-cards {
  width: 100%;
  display: grid;
  justify-content: center;
  /* border: 1px solid steelblue; */
  padding: 30px;
}

.container {
  width: 800px;
  margin: 10px auto;
  overflow: auto;
  min-height: 300px;
  border: 3px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container-head h1 {
  font-size: 2.5rem;
}

.section__title2 {
  width: 80rem;
  margin: 15rem auto 10rem auto;
}

.section__question2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

.section__description2 {
  font-size: 2.2rem;
  line-height: 1.3;
  font-weight: 500;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.list {
  background: #ddd7d7;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.list-reminder {
  border-left: 5px solid green;
}

.list h3 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list p {
  font-size: 1.5rem;
}

.add-form {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
